<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="myShoppingListController.js"></script>
  <style></style>
</head>

<body>
  <div class="container" id="main_container" ng-app="myShoppingListMod" ng-controller="myShoppingListCtrl">


    <div class="myShoppingList shadow" id="list_container">

      <h1 id="list_name">My shopping listz:</h1>
      <span class="d-inline-block" ng-show="isItemsListEmpty()" id="empty_warning">Your list is empty. Why not add some items ! </span>

      <ul class="list-group">
        <li ng-repeat=" x in items track by $index" class="list-group-item" ng-click="strikeToggle($index)" id="{{$index}}">{{ x }}</li>
        <span class="mb-4" id="space_filler">
      </ul>
      </span>
      <div id="inputcontrols_container">
        <input type="text" name="newItem" ng-model="newItem" class="form-control ml-1" id="item_input">
        <button class="btn btn-info mb-1" value="Add Item" id="button_input" ng-click="addItem()">
          Add Item
        </button>
      </div>

    </div>
  </div>
</body>

</html>